<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

 <p> <%= @name %> was deleted. </p> <!--post name was deleted-->

 <p>Go to <a href='/posts'>index<a></p> <!--go to full posts index-->

</body>
</html>