<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="POST" action="/posts"> <!-- post to index-->
<p>Title: <input type = "text" name="name"></p>
<p>Post: <textarea type = "text" cols="60" rows="4" name="content"></textarea></p>
  <input type="submit" value="submit">
</form>

</body>
</html>